<!DOCTYPE html>
<html>
<head>
  <title><%= tdk.title %></title>
  <meta name="description" content="<%=tdk.description%>">
  <meta name="keywords" content="<%=tdk.keywords%>">
</head>
<body>
<h1><%= data %></h1>
<p>this is a ejs render page</p>
</body>
</html>
